<nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
    <a class="navbar-brand" href="#">L M S</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Add Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Issued Books</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Delete Books</a>
        </li>
      </ul>
    </div>
    <div class="button px-2 float-right">
      <button class="btn text-light bg-primary">Log Out</button>
    </div>
  </nav>

  <section class="bg-img">
    <div class="container p-2 h1 text-center mt-5 ">
      <p>Welcome to your Dashboard {{name}}</p>
    </div>
  </section>