<nav class="navbar bg-body-tertiary">
    <div class="d-flex">
      <a class="navbar-brand" href="#">
        <img src="../assets/images/bootstrap-logo.svg" alt="Bootstrap" width="30" height="24">
        Bookhub
      </a>
      <ul class="list justify-content-start pt-2 ">
        <a href="" class="list-item text-decoration-none text-dark mx-2 px-3">Home</a>
        <a href="" class="list-item text-decoration-none text-dark mx-2 px-3">Add Books</a>
        <a href="" class="list-item text-decoration-none text-dark mx-2 px-3">Modify Books</a>
        <a href="" class="list-item text-decoration-none text-dark mx-2 px-3">Delete Books</a>
      </ul>
    </div>
    <div class="">
        <button class="btn bg-primary px-3 mx-2">LOGOUT</button>
    </div>
  </nav>
